{% load static %}

{% include 'buyingview/header.html' %}

<div class="quiz-window mt-5 mb-5">        
    <div class="quiz-window-body container">
      <div class="gui-window-awards">

        <ul class="guiz-awards-row guiz-awards-row-even ">
          <li class="guiz-awards-star title">GIG TITLE</li>
          <li class="guiz-awards-title title">BUYER NAME</li>
          <li class="guiz-awards-track title">SELLER NAME</li>
          <li class="guiz-awards-time title">GRAND TOTAL</li>
          <li class="guiz-awards-time text-center title">ACTION</li>
        </ul>


        <ul class="guiz-awards-row">
          <li class="guiz-awards-star font-size">I will convert PSD to HTML</li>
          <li class="guiz-awards-title font-size">Rabbith Arko</li>
          <li class="guiz-awards-track font-size">Sakib Ovi</li>
          <li class="guiz-awards-time font-size">100</li>
          
          <li class="guiz-awards-time font-size">
            <div class="button container">
                <button>Make Payment</button>
            </div>
          </li>
        </ul>

        <ul class="guiz-awards-row">
          <li class="guiz-awards-star font-size">I will convert PSD to HTML</li>
          <li class="guiz-awards-title font-size">Rabbith Arko</li>
          <li class="guiz-awards-track font-size">Sakib Ovi</li>
          <li class="guiz-awards-time font-size">100</li>
          <li class="guiz-awards-time font-size">
            <div class="button container">
                <button>Make Payment</button>
            </div>
          </li>
        </ul>              
        
      </div>
      
    </div>
</div>




{% include 'buyingview/footer.html' %}