{% load static %}

{% include 'buyingview/header.html' %}

<div class="quiz-window mt-5 mb-5">        
    <div class="quiz-window-body container">
      <div class="gui-window-awards">

        <ul class="guiz-awards-row guiz-awards-row-even ">
          <li class="guiz-awards-star title">GIG TITLE</li>
          <li class="guiz-awards-title title">BUYER NAME</li>
          <li class="guiz-awards-track title">SELLER NAME</li>
          <li class="guiz-awards-time title">GRAND TOTAL</li>
          <li class="guiz-awards-time text-center title">ACTION</li>
        </ul>
    <hr>
{% if orders %}
  {% for order in orders %}
        <ul class="guiz-awards-row">
          <li class="guiz-awards-star font-size">{{ order.package }}</li>
          <li class="guiz-awards-title font-size">{{ order.first_name }}</li>
          <li class="guiz-awards-track font-size">{{ order.package.gig.user }}</li>
          <li class="guiz-awards-time font-size">{{ order.seller }}</li>
          <li class="guiz-awards-time font-size">${{ order.grand_total }}</li>
          
          <li class="guiz-awards-time font-size">
          {% if not order.paid == True %}
            <div class="button container">
            
                <a href="{% url 'OrderDetails' order.id %}"><button>    Make Payment   </button></a>
           
            </div>
             {% else %}
              <p class="badge bg-primary">{{ order.order_status }}</p>
            {% endif %}
          </li>
        </ul>
    <hr>
  {% endfor %}
{% else %}{% endif %}
             
        
      </div>
      
    </div>
</div>




{% include 'buyingview/buying_footer.html' %}