{% load static %}
{% load custom_filter %}
{% include 'buyingview/header.html' %}


<section class="profile-action container">
        <div class="inner-profile row">
            <div class="col-md-3 full-width">
                <div class="card inner-card">
                    <div class="card-detail">
                        <h1>Hi ({{ request.user }})</h1>
                        <p>Get offers from sellers for your project</p>
                        <a href="{% url 'post_a_request' %}" class="btn profile-button">Post a request</a>
                        
                    </div>
                </div>
            </div>


        <div class="col-md-9 inner-right">



            <div class="with-bg">

                <div class="bg-img">

                    <img src= "{% static 'images/action-profile.png' %}" alt="">

                </div>

                <div class="left-post">
                    <span>{{ request.user }},</span>
                    <p>Here's what you need for brand packaging</p>
                </div>


                <div class="right-slider">



                    <div class="responsive">
                        {% for cat in cats %}

                        {% if cat %}
                        <!--category slider div starts Here-->
                        <div>
                            <div class="class">
                                <!--<i class="fab fa-500px"></i>-->
                                <img src="{{ cat.icon.url }}" style="height: 80px; margin: 0 auto;">
                                <h5>{{ cat.title }}</h5>
                            </div>
                        </div>

                        {% else %}

                        <h4>No Category Found!</h4>

                        {% endif %}
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
</section>
<!--
=============================================================================
                            Continue Browsing section
============================================================================= -->

{% comment %}
<section id="continue-browsing">
    <div class="innerbrowsing container">

        <div class="headline">
        <h1>Continue Browsing</h1>
        </div>

    <div class="service-card">
    <div class="row inner-service-card">

{% for g in offers %}

        <div class="col-md-3">
            <div class="card">
                <a href="{% url 'offer_details' g.id %}">
                    <img src="{{ g.image.url }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">

                    <a class="for-card-hover" href="">
                    <h5 class="card-title">{{ g.offer_title }}</h5>
                    </a>

                    <p class="card-text">{{ g.short_desc|truncatechars:50 }}</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>{{ g.gig_rating }}</strong>

                        <span class="for-right">{{ g.user.extendeduser.level }}</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting at $ {{ g.offermanager_set.all|offer_price_start }}</span>
                </div>

            </div>
        </div>

    {% endfor %}




    </div>
    </div>
    </div>
</section>
{% endcomment %}


<!--
=============================================================================
                            For Mobile view (576 px screen)
============================================================================= -->


<!-- top-slider -->




<div id="top-slider">

    <form class="d-flex input-group collapse navbar-expand-md  mb-4" id="navbarSupportedContent">

                    <i class="fas fa-search"></i>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">

    </form>

    <div class="inner-top-slider ">

        <div class="main-top container-fluid">


                <div class="main-top-slider">
                    <img src="{% static 'images/bg-5.jpg' %}" alt="">
                    <h1>This is the slider title you can add any title here </h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>


               <div class="main-top-slider">
                    <img src="{% static 'images/bg-2.jpg' %}" alt="">
                    <h1>This is the slider title you can add any title here</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>


                <div class="main-top-slider">
                    <img src="{% static 'images/bg-6.jpg' %}" alt="">
                    <h1>TThis is the slider title you can add any title here</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
        </div>
    </div>
</div>



<!-- Catagory box -->

<div class="card-box container">

    <div class="card innr-card-box">

        <div class="card-box-icon">
            <i class="fas fa-pencil-ruler"></i>
        </div>

        <div class="card-box-text">
            <h2>Graphics & Design</h2>
            <p>Lorem ipsum dolor sit.</p>
        </div>
    </div>
    <div class="card innr-card-box">

        <div class="card-box-icon">
            <i class="fas fa-pencil-ruler"></i>
        </div>

        <div class="card-box-text">
            <h2>Graphics & Design</h2>
            <p>Lorem ipsum dolor sit.</p>
        </div>
    </div>
    <div class="card innr-card-box">

        <div class="card-box-icon">
            <i class="fas fa-pencil-ruler"></i>
        </div>

        <div class="card-box-text">
            <h2>Graphics & Design</h2>
            <p>Lorem ipsum dolor sit.</p>
        </div>
    </div>

</div>





<!--
=============================================================================
                            Popular Offer section
============================================================================= -->

<section class="for-popular-section container mt-5"> 
<!-- new card design -->
<div class="container new-card mt-3">
    <div class="popular-gig-title">
        <h2>Popular Offers</h2>
    </div>
<div class="row">

{% for offer in offers %}
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            {% for img in offer.extra_images.all %}
            <a href="{% url 'offer_details' offer.id %}">
                <div class="img-on-card-body">
                    <img src= "{{ img.image.url }}" >                    
                </div>
            </a>
            {% endfor %}
             {% comment %} <a href="">
                <div class="img-on-card-body">
                    <img src= "{{ offer.image.url }}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{{ offer.image.url }}" >            
                </div>
            </a>  {% endcomment %}
               
        </div>
            
            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">{{ offer.offer_title }}</h5>  
            </a>

            <div class="category-tag">

                <p>{{ offer.service }}</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">

                        <p class="badge bg-dark">{{ offer.click }}</p>
                        <span class="badge bg-dark">Clicks</span>                     
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>
        
            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>{{ offer.offermanager_set.all|offer_price_start }}</span> </p>
            </div>
        
            </div>
        </div>
    </div>
{% endfor %}


    {% comment %} <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div>



    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-5.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-2.jpg' %}" >                    
                </div>
            </a>

            <a href="">
                <div class="img-on-card-body">
                    <img src= "{% static 'images/bg-6.jpg' %}" >                    
                </div>
            </a>
               
        </div>
            
           


            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">I will convert psd to html responsive website</h5>  
            </a>

            <div class="category-tag">

                <p>Web Design</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p>2,595</p>
                        <p>Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>

            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>15748</span> </p>
            </div>
            
            </div>
        </div>
    </div> {% endcomment %}




</div>

</div>
</section>



<!--
=============================================================================
                            Verified Pro services in Web Programming
============================================================================= -->


<section id="verified-service">

<!-- new card design -->
<div class="container new-card mt-3">
    <div class="popular-gig-title">
        <h2>Verified Pro services</h2>
        <p>Hand-vetted talent for all your professional needs.</p>
    </div>


    <div class="row">


    {% for offer in pop_offers %}
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card main-card-for-offer">
            
            
        <div class= "for-card-inner-img-slider">
            {% for img in offer.extra_images.all %}
            <a href="{% url 'offer_details' offer.id %}">
                <div class="img-on-card-body">
                    <img src= "{{ img.image.url }}" >                    
                </div>
            </a>
            {% endfor %}               
        </div>
            
            <div class="card-body">
            <a href=""> 
                <h5 class="card-title">{{ offer.offer_title }}</h5>  
            </a>

            <div class="category-tag">

                <p>{{ offer.service }}</p>

                <div class="category-for-right">                  
                    <div class= "click-on-offer">
                        <p class="badge bg-dark">{{ offer.click }}</p>
                        <p class="badge bg-dark">Clicks</p>                        
                    </div>

                </div>
            </div>

            <div class= "for-seller-level-star">
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star yellow-star"></i>
                <i class="fas fa-star black-star"></i>
            </div>
            <hr>
        
            <div class="offer-price">
                <p>Starting At</p>
                <p>$ <span>{{ offer.offermanager_set.all|offer_price_start }}</span> </p>
            </div>
        
            </div>
        </div>
    </div>
{% endfor %}



 


    





    </div>

</div>

</section>






<!--
=============================================================================
                            Middle slider
============================================================================= -->

{% comment %}

<section id="middle-slider">
    <div class="container">

        <div class="slidermoron">

        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>




        </div>


    </div>
</section>

{% endcomment %}




{% include 'buyingview/buying_footer.html' %}