{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/buying_footer.css' %}">
    <title>Footer</title>
</head>
<body>

    <div class="footer">
     <div class="main-footer">
        <div class="two-colum">
            <div class="first_column">
                <h3>CONTACT INFO</h3><br>
                <p><i class="fas fa-mobile-alt"></i><a href="#">&nbsp; Sales and SUpport (+88)01713429001</a></p>
                <p><i class="far fa-envelope-open"></i></span><a href="#">&nbsp; support@marketage.io</a></p>
                <p><i class="fas fa-map-marker-alt"></i><a href="#"><a href="#">&nbsp; Nikunja 02, Khilkhet, Dhaka 1229</a></p>
                <p><i class="far fa-calendar-minus"></i>&nbsp; Monday-Saturday 24/7</a></p><br>

                <p class="fb-with-text"><span class="iconify fb-icon" data-icon="logos:facebook" style="color: #ff0a95;"></span> <a href="#">&nbsp; <span class="social-textfb">FACEBOOK</span></a></p>
                <p><i class="fab fa-instagram fb-icon inatagram"></i> <a href="#">&nbsp; <span class="social-textin">INSTAGRAM</span></a></p>
                <P class="fb-with-text"><span class="iconify fb-icon" data-icon="logos:twitter" style="color: #ff0a95;"></span><a href="#">&nbsp; <span class="social-texttw">TWITTER</span></a></P>
                <p class="fb-with-text"><span class="iconify fb-icon" data-icon="logos:linkedin-icon" style="color: #ff0a95;"></span><a href="#">&nbsp; <span class="social-textln">LINKEDIN</span></a></p>
                
            </div>
            <div class="first_column">
                <h3>CATEGORIES</h3><br>
                <p><a href="#">Keyboards</a></p>
                <p><a href="#">Mouse</a></p>
                <p><a href="#">Help & Support</a></p>
                <p><a href="#">Trust & Saftety</a></p>
                <p><a href="#">Term of Services</a></p>
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
            <div class="third-colum">
                <div class="first_column">
                    <h3>STAY INFORMED BY NEWSSLETTER</h3><br>
                    <p>*Subscribe to our newsteller to receive early discount offers. <br> updates and new products info.</p>
                   <div class="colum-input">
                    <input type="email" name="search" placeholder="&nbsp; Your email here....">
                   </div>
                    <div class="colum-img">
                        <a href="#"><img src="{% static 'images/marketage.png' %}" alt="logo"></a>
                    </div>
                </div>
            </div>
     </div>
    <div class="footer-bottom">
        <p><span>Marketage LTD</span> - All Rights Reserved</p>
       <div class="payment-img">
        <img src="{% static 'images/15.png' %}" alt="">
       </div>
    </div>
    </div>

        <!-- Slick slider -->
        <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
  
  
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  
  
      <!-- Swiper slider -->
      <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
  
      <!-- Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
      <!-- For vier view  -->
      <script src="{% static 'js/main-buyer-view.js' %}" ></script>
  
      <!-- For gigs details  -->
      <script src="{% static 'js/main-gigs-details.js' %}"></script>    

</body>
</html>