{% load static %}
{% include 'buyingview/header.html' %}

<div id="header">
    <div class="container">
        <nav class="navbar">
            <div class="left-item">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Overview</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About The Seller</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Compare Packages</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>

                </ul>
            </div>



            <div class="right-item">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
                    <li class="menu-logo active">
                        <a class="" href="#"><i class="fas fa-bars"></i></a>
                    </li>

                    <li class="menu-logo active">
                        <a class="" href="#"><i class="fas fa-heart"></i></a>
                    </li>

                    <li class="menu-logo active">
                        <a class="" href="#">{{ c }}</i></a>
                    </li>

                    <li class="menu-logo active">
                        <a class="" href="#"><i class="fas fa-flag"></i></a>
                    </li>

                    <li class="menu-logo active">
                        <a class="" href="#"><i class="fas fa-share-alt"></i></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="dag"></div>
</div>



<!-- Slider main container -->

<section id="gigs-slider">
    <div class="container inner-gigs-slider">

       
        <div class="col-md-7 left-section"> 

            <!-- Slider upper text (GIGs title) -->

            <div class="gigs-title">
                <h1 class="gigs-name">{{ offers.gig_title }}</h1>
                <img class="gigs-sellers-img" src="{{ request.user.extendeduser.profile_picture.url }}" alt="">

                <a href="">
                    <p class="seller-name">{{ offers.user }}</p>
                </a>
                <span class="seller-level">Seller level: {{ offers.user.extendeduser.level }}</span>


                <span class="seller-star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <strong>{{ sellers.user.extendeduser.rating }}</strong>
                    <strong>({{ c }})</strong>

                </span>
            </div>



            <!-- Slider with img (GIGs img slider) -->
            <div class="swiper-container gallery-top">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="swiper-slide-container">
                            <img class="cover" src="{{ offers.image.url }}" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-slide-container">
                            <img class="cover" src="{{ offers.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>



            <!-- Slider lower img (GIGs thumb img) -->

            <div class="swiper-container gallery-thumbs">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="swiper-slide-container">
                            <img class="resizeing" src="{{ offers.extra_images.url }}" alt="">
                        </div>
                    </div>


                </div>
            </div>

        </div>

         
        <div class="col-md-4 right-section">

            <div class="warpper">

                <input class="radio" id="one" name="group" type="radio" checked>
                <input class="radio" id="two" name="group" type="radio">
                <input class="radio" id="three" name="group" type="radio">


                <div class="tabs">


<!-- click button for basic-->
                    <label class="tab" id="one-tab" for="one">Basic</label>



<!-- click button for standard-->
                    <label class="tab" id="two-tab" for="two">Standard</label>



<!-- click button for premium-->
                    <label class="tab" id="three-tab" for="three">Premium</label>

                </div>



               


                <div class="panels">

                    {% for manager in offers.offermanager.all %}
                        
                    <div class="panel" id="one-panel">

                        <div class="panel-title">
                            <h3>{{ manager.package }}</h3>
                            <span>${{ manager.price }}</span>
                            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum
                                elit. Quaerat, error?</p>
                        </div>

                        <div class="inner-panel">

                            <i class="far fa-clock"> 1 Day Delivery
                            </i>

                            <i class="fas fa-redo-alt"> 1 Day Delivery
                            </i>


                            <ul class="pannel-service-list">
                                <li> <i class="fas fa-check-double"></i> 1 Page</li>
                                <li> <i class="fas fa-check-double"></i> Responsive Design</li>
                                <li> <i class="fas fa-check-double"></i> Slider/Scroller</li>
                                <li> <i class="fas fa-check-double"></i> Server Upload</li>
                                <li> <i class="fas fa-check-double"></i> Browser Compatibility</li>
                            </ul>
                        </div>


                        <button class="pannel-service-button">Continue({{ manager.price }} $)</button>


                        <button class="pannel-service-button-lower">Compare Packages</button>
                    </div>
                    
                    {% endfor %}

                </div>



               

            </div>
        </div>

        



        <div class="col-md-7 left-section">
            <!-- About gigs section -->
            <div class="about-gigs">
                <h2 class="pb-3">About this Gig</h2>
                <p class="justify">
                    {{ offers.description|safe }}
                </p>
            </div>

            <div class="dag"></div>

            <div class="seller-knowledge">
                <div class="language">
                    <p class="inner-knowledge">Programming Language</p>
                    <span>HTML & CSS</span>
                </div>

                <div class="Expertise">
                    <p class="inner-knowledge">Expertise</p>
                    <span class="stng">PSD to HTML</span>
                    <span class="stng">Performance</span>
                    <span class="stng">W3C Validation</span>
                </div>
            </div>



            <!-- About The Seller section -->
            <div class="about-seller-upper">
                <h2 class="">About The Seller</h2>
                <div class="about-seller">



                    <div class="inner-seller">
                        <img class="round" src="{{ offers.user.extendeduser.profile_picture.url }}" alt="">
                    </div>

                    <div class="seller-bio">
                        <strong>Seller name: {{ offers.user }}</strong>
                        <p>{{ offers.short_desc|safe }}</p>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <button class="contact">Contact Me</button>
                    </div>
                </div>
            </div>


            <!-- Seller description section -->
            <div class="description">
                <div class="card for-des">
                    <div class="inner-des">
                        <div class="card-left">
                            <div class="inner-card-left">
                                <span>From</span>
                                <strong>Bangladesh</strong>
                                <span class="mt-4">Avg. response time</span>
                                <strong>1 hour</strong>
                            </div>
                        </div>


                        <div class="card-right">
                            <div class="inner-card-right">
                                <span>Member since</span>
                                <strong>Oct 2019</strong>
                                <span class="mt-4">Last delivery</span>
                                <strong>1 day</strong>
                            </div>
                        </div>
                    </div>

                    <div class="dag for-line"></div>

                    <div class="seller-des">
                        <p>{{ offers.description|safe }}</p>
                    </div>
                </div>
            </div>


            <!-- Compare-Packages section -->
            <div class="compare-packages">
                <div class="inner-compare">

                    <table class="table table-responsive table-bordered table-hover mx-auto w-auto">

                        <thead>
                            <tr>
                                <th scope="col" class="align-middle ">
                                    <p class="">package</p>

                                </th>
                                {% for manager in offers.offermanager_set.all %}
                                <th scope="col">
                                    <span class="">$50</span>
                                    <strong class="d-block col text-left">{{ manager.package }}</strong>
                                    <!--<strong class="d-block text-left">Single Page</strong>-->
                                    <p class="text-left">{{ manager.offer.short_desc|truncatechars:100 }}</p>
                                </th>
                                {% endfor %}


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Responsive Design</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>






                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Responsive Design</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>






                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Slider/Scroller</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>






                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Browser Compatibility</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>




                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Revisions</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>




                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Delivery Time</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>




                            <tr>
                                <td class="res-design align-middle text-left" scope="row">Number of Pages</td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                                <td class="align-middle"><i class="fas fa-check"></i></td>
                            </tr>


                            <tr>
                                <td class="res-design align-middle text-center" scope="row">Total</td>
                                {% for manager in offers.offermanager_set.all %}
                                <td>
                                    {% if request.user %}
                                    <form action="{% url 'add_to_cart' %}" method="POST">
                                        {% csrf_token %}
                                        <i class="total-cost">
                                            <span>{{ manager.price }} $</span>
                                            <input type="hidden" value="{{ manager.id }}" name="package_id">
                                            <button class="button">Select</button>
                                        </i>
                                    </form>
                                    {% else %}
                                    <a href="{% url 'user_login' %}" class="btn btn-success col-lg-12">Select</a>
                                    {% endif %}
                                </td>
                                {% endfor %}



                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>



            <!-- recommended slider section -->
            <div class="recommended">
                <h3>Recommended For You</h3>
                <div class="row for-slider">

                    {% for rg in related_offers %}
                    <div class="col-6">
                        <div class="card">
                            <img src="{{ rg.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ rg.user }}</h5>

                                <p class="card-text">{{ rg.gig_title }}</p>

                                <div class="level">
                                    <i class="fas fa-star"></i>
                                    <strong>4.5</strong>

                                    <span class="for-right">fiver level</span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <i class="fas fa-bars p-1"></i>
                                <i class="fas fa-heart"></i>
                                <span class="for-right">Starting At</span>
                            </div>

                        </div>
                    </div>
                    {% endfor %}



                </div>
            </div>

        </div>       
            
           

</section>

{% include 'buyingview/footer.html' %}
