{% load static %}
{% include 'buyingview/header.html' %}

    
    <div id="make-patment">
        <div class="inner-make-payment container mt-5">
          <div class="row">
            <div class="col-md-8 ordering">
              <div class="order-details-for-payment">
              <div class="make-payment-title">
                  <div class="make-payment-title-left">
                    <h1>Order #4568674FE456</h1>
                    <p>Buyer:<span class="green"> {{ order.user }}</span> 
                    |<span> date:</span>
                    </p>
                  </div>
  
                  <div class="make-payment-title-right">
                    <p>$ <span>{{order.grand_total  }}</span></p>
                  </div>
  
              </div>
  
              <div class="order-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ITEM</th>
                      <th scope="col">QUANTITY</th>
                      <th scope="col">DURATION</th>
                      <th scope="col">AMOUNT</th>
                    </tr>
                  </thead>
  
  
                  <tbody>
                    <tr>
                      <td scope="row">{{ order.package }}</td>
                      <td>{{ order.quantity }}</td>
                      <td>NOT ADDED</td>
                      <td>$ <span>{{order.price  }}</span></td>
                    </tr>            
                  </tbody>  
  
  
  
  
  <!-- last total amount -->
                  <tbody>
                  <tr>
                      <th scope="row"> </th>
                      <td></td>
                      <td class="last-row">Service Fee</td>
                      <td class="last-row"><span> 25% </span></td>
                    </tr>    
                    <tr>
                      <th scope="row"> </th>
                      <td></td>
                      <td class="last-row">Total</td>
                      <td class="last-row">$<span> {{order.grand_total  }} </span></td>
                    </tr>            
                  </tbody>
  
  
                  
                       
                
  
  
  
                </table>
              </div>
  
            </div>
          </div>
            
            <div class="col-md-4">
  
              <div class="payment-section">
  
                
  
                  <h4 class="text-center p-2">Make Your Payment Option</h4>
  
                
  
                <div class="for-select-option">
  
                <select class="select" name="" id="select">
  
  
                  <option value="">select your payment option</option>
  
  
                  <option value="paypal">PAYPAL</option>
                  
  
                  <option value="AAMMR PAY">AAMMRPAY</option>
  
  
                  <option value="sslcommerz">SSLCOMMERZ</option>
  
  
                  <option value="razorpay">RAZORPAY</option>

                  <option value="stripe">STRIPE</option>
  
  
  
                </select>
  
              </div>
          
              <div class="for-button">
                 <a href=""><button class="paypal">PAYPAL</button></a>
                 <div id="paypal-button-container"></div>
  
                 <a href=""><button class="ammrpay">AAMAR PAY</button></a>
                <form action="" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="sslcommerz">SSLCOMMERZ</button>
                </form>
                 <a href=""><button class="paypal">PAYAPAL</button></a>
  
                 <a href=""><button class="razorpay">RAZORPAY</button></a>

                 <a href=""><button class="razorpay">STRIPE</button></a>
              </div>  
  
  
  
  
  
            </div>
  
          </div>
  
          </div>
  
        </div>
      </div>

      {% comment %} paypal button {% endcomment %}
  <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>

        var total = "{{ order.grand_total }}"

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>