{% load static %}
{% include 'buyingview/header.html' %}

    
    <div id="make-patment">
        <div class="inner-make-payment container mt-5">
          <div class="row">
            <div class="col-md-8 ordering">
              <div class="order-details-for-payment">
              <div class="make-payment-title">
                  <div class="make-payment-title-left">
                    <h1>Order #4568674FE456</h1>
                    <p>Buyer:<span class="green"> Rabbith Alam</span> 
                    |<span> date</span>
                    </p>
                  </div>
  
                  <div class="make-payment-title-right">
                    <p>$ <span>5000.00</span></p>
                  </div>
  
              </div>
  
              <div class="order-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ITEM</th>
                      <th scope="col">QUANTITY</th>
                      <th scope="col">DURATION</th>
                      <th scope="col">AMOUNT</th>
                    </tr>
                  </thead>
  
  
                  <tbody>
                    <tr>
                      <td scope="row">Convert psd to html</td>
                      <td>1</td>
                      <td>20 Days</td>
                      <td>$ <span>20.00</span></td>
                    </tr>            
                  </tbody>
  
  
  
                  <tbody>
                    <tr>
                      <td scope="row">Convert psd to html</td>
                      <td>1</td>
                      <td>20 Days</td>
                      <td>$ <span>20.00</span></td>
                    </tr>            
                  </tbody>
  
  
  
                  <tbody>
                    <tr>
                      <td scope="row">Convert psd to html</td>
                      <td>1</td>
                      <td>20 Days</td>
                      <td>$ <span>20.00</span></td>
                    </tr>            
                  </tbody>
  
  
  
                  <tbody>
                    <tr>
                      <td scope="row">Convert psd to html</td>
                      <td>1</td>
                      <td>20 Days</td>
                      <td>$ <span>20.00</span></td>
                    </tr>            
                  </tbody>
  
  
  
  
  
  
  <!-- last total amount -->
                  <tbody>
                    <tr>
                      <th scope="row"> </th>
                      <td></td>
                      <td class="last-row">Total</td>
                      <td class="last-row">$<span> 80.00 </span></td>
                    </tr>            
                  </tbody>
  
  
                  
                       
                
  
  
  
                </table>
              </div>
  
            </div>
          </div>
            
            <div class="col-md-4">
  
              <div class="payment-section">
  
                
  
                  <h4 class="text-center p-2">Make Your Payment Option</h4>
  
                
  
                <div class="for-select-option">
  
                <select class="select" name="" id="select">
  
  
                  <option value="">select your payment option</option>
  
  
                  <option value="paypal">PAYPAL</option>
  
  
                  <option value="AAMMR PAY">AAMMRPAY</option>
  
  
                  <option value="sslcommerz">SSLCOMMERZ</option>
  
  
                  <option value="razorpay">RAZORPAY</option>
  
  
  
                </select>
  
              </div>
          
              <div class="for-button">
                 <a href=""><button class="paypal">PAYPAL</button></a>
  
                 <a href=""><button class="ammrpay">AAMAR PAY</button></a>
  
                 <a href=""><button class="sslcommerz">SSLCOMMERZ</button></a>
  
                 <a href=""><button class="paypal">PAYAPAL</button></a>
  
                 <a href=""><button class="razorpay">RAZORPAY</button></a>
              </div>  
  
  
  
  
  
            </div>
  
          </div>
  
          </div>
  
        </div>
      </div>
  