{% load static %}
{% include 'buyingview/header.html' %}




<section id="become-a-seller">
    <div class="inner-become-seller container-fluid">
        <div class="become-a-seller-title">
            <h1>Work Your Way</h1>
            <p>You bring the skill. We'll make earning easy</p>
            <button>Become a Seler</button>
        </div>

        <div class="title-details">
            <div class="time">
                <p>A Gig is Bought Every</p>
                <span>4 SEC</span>
            </div>
            <div class="transaction">
                <p>Transactions</p>
                <span>50M+</span>
            </div>
            <div class="price">
                <p>Price Range</p>
                <span>$5 - $10,000</span>
            </div>
        </div>         

    </div>

</section>


<section class="service-area">
    <div class="inner-service-area container">
    <div class="service-area-title m-5 text-center">    
        <h1>Join Our Growing Freelance Community</h1>
    </div>

    <div class="inner-service-area">          
        
        <div class="inner-service-area-for-hover">
            <div class="row">


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/bg-4.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>


                


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/bg-1.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>


                


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/bgbg.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>


                


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/bg-5.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>


                


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/bg-5.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>


                


                <div class="col-md-3 mb-3">
                <div class="inner-card">
                    
                    <div class="for-card-img">
                        
                        <img src="img/profile.jpg" alt="">

                    </div>
                    
                    <div class="img-caption">
                        <p>I am</p>
                        <p>a web developer</p>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>

<!-- last div -->

                <div class="col-md-3 mb-3">

                <div class="inner-card-last">
                    
                    <div class="love-icon">
                        <i class="fas fa-heart"></i>
                    </div>

                    <div class="card-title-inner">
                        <h1>What's Your Skill?</h1>
                    </div>

                    <div class="button-last-card">
                        <button>Become a Seller</button>
                    </div>

                </div>
                </div>


                
            </div>
        </div>
    </div>

</div>
</section>


<section class="how-it-work ">
    <h1 class="text-center">How It Works</h1>
    <div class="inner-work container">
        <div class="row">

        <div class="col-md-4">
        <div class="how-it-work-card">
            <div class="icon">
                <i class="fas fa-file-import color"></i>
            </div>

            <div class="icon-details">
                <h3>1. Deliver Great Work</h3>
            </div>

            <div class="icon-lower-details">
                <h3>Get notified when you get an order and use our system to discuss details with customers.</h3>
            </div>                

        </div>            
        </div>



        


        <div class="col-md-4">
        <div class="how-it-work-card">
            <div class="icon">
                <i class="fas fa-file-signature color"></i>
            </div>

            <div class="icon-details">
                <h3>2. Create A Gig</h3>
            </div>

            <div class="icon-lower-details">
                <h3>Sign up for free, set up your Gig, and offer your work to our global audience.</h3>
            </div>

        </div>
        </div>





        <div class="col-md-4">
        <div class="how-it-work-card">
            <div class="icon">
                <i class="far fa-clipboard color"></i>
            </div>

            <div class="icon-details">
                <h3>3. Get Paid</h3>
            </div>

            <div class="icon-lower-details">
                <h3>Get paid on time, every time. Payment is transferred to you upon order completion.</h3>
            </div>

            <div class="mob-button m-3">
                <button>Become a Seller</button>
            </div>

        </div>
        </div>


        


    </div>
    </div>
</section>


<section class="buyer-stories container mb-4">
    <div class="inner-buyer-stories">
        <h1 class="text-center m-5">Buyer Stories</h1>

        <div class="row">
            
        
    <div class="col-md-6 padding-decrease">
        <div class="buyer-card">
            
            <div class="buyer-pix">
                <img src="{% static 'images/bannerdash2.jpg' %}" alt="">
            </div>
            
            <div class="buyer-details">
                <p>"People love our logo, and we love Fiverr."</p>
                <span>Jennifer Gore, CEO of Weleet</span>
            </div>
        </div>
    </div>
            
        
    <div class="col-md-6 padding-decrease">
        <div class="buyer-card">

            <div class="buyer-pix">
                <img src="{% static 'images/goku.png'%}" alt="">
            </div>
            
            <div class="buyer-details">
                <p>"People love our logo, and we love Fiverr."</p>
                <span>Jennifer Gore, CEO of Weleet</span>
            </div>
        </div>
    </div>
            
        
    <div class="col-md-6 padding-decrease hide-on-mob">
        <div class="buyer-card">

            <div class="buyer-details">
                <p>"People love our logo, and we love Fiverr."</p>
                <span>Jennifer Gore, CEO of Weleet</span>
            </div>

            
            <div class="buyer-pix">
                <img src="{% static 'images/bannerdash3.jpg' %}" alt="">
        </div>
        
        </div>
    </div>
            
        
    <div class="col-md-6 padding-decrease hide-on-mob">
        <div class="buyer-card">

            <div class="buyer-details">
                <p>"People love our logo, and we love Fiverr."</p>
                <span>Jennifer Gore, CEO of Weleet</span>
            </div>

            
            <div class="buyer-pix">
                <img src="{% static 'images/bg-2.jpg' %}" alt="">
            </div>


        </div>
    </div>
    </div>
    </div>
</section>


<section class="qustion-and-ans">
    <div class="inner-question container">
        <h1 class="text-center m-5 qandstitle">Q & A</h1>


    <div class="row">
        <div class="col-md-6 mb-4">                

        <div class="accordion" id="accordionExample">
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading">
                
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What can I sell?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingone" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>


       
    <div class="col-md-6 mb-4">             
        <div class="accordion" id="accordionExample">               
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesec" aria-expanded="false" aria-controls="collapsesec">
                What can I sell?
                </button>
              </h2>
              <div id="collapsesec" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>





       
    <div class="col-md-6 mb-4">             
        <div class="accordion" id="accordionExample">               
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefortext" aria-expanded="false" aria-controls="collapsefortext">
                What can I sell?
                </button>
              </h2>
              <div id="collapsefortext" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>





       
    <div class="col-md-6 mb-4">             
        <div class="accordion" id="accordionExample">               
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethird" aria-expanded="false" aria-controls="collapsethird">
                What can I sell?
                </button>
              </h2>
              <div id="collapsethird" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>





       
    <div class="col-md-6 mb-4">             
        <div class="accordion" id="accordionExample">               
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefouth" aria-expanded="false" aria-controls="collapsefouth">
                What can I sell?
                </button>
              </h2>
              <div id="collapsefouth" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>





       
    <div class="col-md-6 mb-4">             
        <div class="accordion" id="accordionExample">               
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefivth" aria-expanded="false" aria-controls="collapsefivth">
                What can I sell?
                </button>
              </h2>
              <div id="collapsefivth" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Be creative! You can offer any service you wish as long as it's legal and complies with our terms. There are over 200 categories you can browse to get ideas.</p>
                </div>
              </div>
            </div>

        </div>
    </div>







</section>


<section class="signupcreate mb-3">
    <p class="text-center">Sign up and create your first Gig today</p>
    <div class="lower-button">
        <button>Become a Seller</button>
    </div>
</section>



{% include 'buyingview/footer.html' %}