{% extends "wasekPart/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/userdashboard.css' %}">

      <!-- main content -->

  <!-- rating part -->
  </br>
  <section class="mainContent">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 sideColumn">
          <div class="firstColumn">
            <div class="imageRate">
              <div class="imageRateInner">
                <span>Online</span>
                <img src="{{ user.selleraccount.profile_picture.url }}" alt="goku" class="rounded-circle">
                <strong>&nbsp;{{ request.user }}</strong>
              </div>
              <div class="rateIcon">
                <span class="iconify" data-icon="akar-icons:star" style="color: yellow;"></span> {{ user.extendeduser.rating }}
              </div>
            </div>
            <hr>
            <div class="rateStatus">
              <div class="rateStatusAll">
                <p>Inbox response rate</p>
                <div class="statusBar">
                  <progress id="file" value="100">100%</progress> 100%
                </div>
              </div>
              <div class="rateStatusAll">
                <p>Inbox response time</p>
                <div class="statusBar">
                  <progress id="file" value="100">100%</progress><strong> &nbsp;&nbsp;N/A</strong>
                </div>
              </div>
              <div class="rateStatusAll">
                <p>Order response rate</p>
                <div class="statusBar">
                  <progress id="file" value="100">100%</progress> 100%
                </div>
              </div>
              <div class="rateStatusAll">
                <p>Delivered on time</p>
                <div class="statusBar">
                  <progress id="file" value="100">100%</progress> 100%
                </div>
              </div>
              <div class="rateStatusAll">
                <p>Order completion</p>
                <div class="statusBar">
                  <progress value="100">100%</progress> 100%
                </div>
              </div>
            </div>
            <hr>
            <div class="earned">
              <p class="earnMonth">Earned in july</p>
              <p class="dollar"><strong>$100000</strong></p>
            </div>
          </div><br>

          <!-- inbox -->

          <div class="inbox">
            <div class="secondColumn">
              <ul>
                <li class="fw-bold">Inbox</li>
                <li><a href="#">View All</a></li>
              </ul>
            </div>
            <hr>
            {% comment %} all users chat inbox {% endcomment %}
            {% for user in users %}
            <a href="">
            <div class="inbox-details">
              <div class="inbox-user-detail">
              
                <img src="{{ user.extendeduser.profile_picture.url }}" alt="goku" class="rounded-circle">
                <div>
                  <p class="fw-bold" style="font-size: 13px;">{{ user }}</p>
                  <p style="font-size: 13px;">Me: Lorem Ipsum Dolor</p>
                </div>
              </div>
              <div class="user-active-time">
                <p style="font-size: 13px;">Just Now</p>
              </div>
            </div>
            <hr>
            </a>
            {% endfor %}
            
          </div><br>

          <!-- social netiwork link -->

          <div class="thirdColumn">
            <div class="socialNetwork">
              <p>Link your social networks <span class="badge bg-secondary rounded-circle">?</span></p>
            </div>
            <div class="socialIcon">
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="bx:bxs-basketball" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="akar-icons:github-fill" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="akar-icons:stack-overflow-fill" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="akar-icons:facebook-fill" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="akar-icons:twitter-fill" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
              <div class="socialIcon1">
                <button type="button" class="icon-button">
                  <span class="fontIcon">
                    <span class="iconify" data-icon="akar-icons:vimeo-fill" style="color: #caeded;"></span>
                  </span>
                  <span class="icon-button__bagde">
                    <strong>+</strong>
                  </span>
                </button>
              </div>
            </div>
          </div><br>
        </div><br>


        <!-- active order container -->

        <div class="col-12 col-sm-12 col-md-8 col-lg-9 mainColumn">
          <div class="activeOrders">
            <ul>
              <li>
                <h6 id="active_text">Active Orders - {{ count_active }} ($0)</h6>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn active-dropdown dropdown-toggle activeBtn" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="true">
                    Active orders ({{active_orders|length}})
                  </button>
                  <ul class="dropdown-menu dropMenuItem" aria-labelledby="dropdownMenuButton1">
                    <li id="activeOrder"><a class="dropdown-item" href="#">Active Orders ({{active_orders|length}})</a></li>
                    <hr>
                    <li id="completed"><a class="dropdown-item" href="#">Completed ({{completed_orders|length}})</a></li>
                    <hr>
                    <li id="canceled"><a class="dropdown-item" href="#">Cancelled ({{cancelled_orders|length}})</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div><br>

          <!-- active order display -->
          <div id="active_order_show" class="complete__order__table table-responsive">
            <table class="table">
              <tbody>
                {% for order in active_orders %}
                <tr>
                  <td scope="row">
                    <div class="seller-name">
                      <img src="{{ order.package.offer.image.url }}" alt="" class="rounded-circle">
                      <p class="ms-2">{{ order.user }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      <p class="text-muted">Price</p>
                      <p>${{ order.total }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="status">
                      <p class="text-muted">Status</p>
                      <p><span class="badge bg-secondary">Active</span></p>
                    </div>
                  </td>
                  <td>
                    <div class="view">
                      <p><a href="{% url 'SellerOrderDetails' order.id %}">View</a></p>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- complete order section -->

            <div id="complete_order_show" class="complete__order__table table-responsive">
              <table class="table">
                <tbody>
                  {% for order in completed_orders %}
                  <tr>
                    <td scope="row">
                      <div class="seller-name">
                        <img src="{{ order.package.offer.image.url }}" alt="" class="rounded-circle">
                        <p class="ms-2">{{ order.user }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="price">
                        <p class="text-muted">Price</p>
                        <p>${{ order.total }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="status">
                        <p class="text-muted">Status</p>
                        <p><span class="badge bg-secondary">Completed</span></p>
                      </div>
                    </td>
                    <td>
                      <div class="view">
                        <p><a href="{% url 'SellerOrderDetails' order.id %}">View</a></p>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- cancel order options -->
            <div id="cancel_order" class="complete__order__table table-responsive">
              <table class="table">
                <tbody>
                  {% for order in cancelled_orders %}
                  <tr>
                    <td scope="row">
                      <div class="seller-name">
                        <img src="{{ order.package.offer.image.url }}" alt="" class="rounded-circle">
                        <p class="ms-2">{{ order.user }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="price">
                        <p class="text-muted">Price</p>
                        <p>${{ order.total }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="status">
                        <p class="text-muted">Status</p>
                        <p><span class="badge bg-secondary">cancelled</span></p>
                      </div>
                    </td>
                    <td>
                      <div class="view">
                        <p><a href="{% url 'SellerOrderDetails' order.id %}">View</a></p>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          <br><br><br>

          <div id="upgrade_text" class="upgradeText">
            <h6>Upgrade your Business</h6>
            <hr>
          </div>
          <div class="container">
            <div id="upgrade_business" class="row upgradeBusiness">
              <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="secondUpgradeText">
                  <h5>How to build your success on Marketage in 3 steps</h5>
                  <p>The key to your success on Fiverr is the brand you build for yourself through <br> your marketage
                    reputation. We gathered some tips and resources to help you <br> become a leading seller on marketage.
                  </p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="upgradeImg">
                  <img src="{% static 'images/upgrade.png' %}" alt="business" class="img-fluid">
                </div>
              </div>
            </div>
          </div><br>


          <div id="top_seller" class="topSeller">
            <div class="topSeller text-center">
              <h4>Take these steps to become a top seller on marketage</h4>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="firstInsideIcon">
                    <img src="{% static 'images/inside1.png' %}" alt="">
                    <strong>Get noticed</strong>
                  </div><br>
                  <div class="description">
                    Tap into the power of social media by <b> sharing your Gig,</b> and <a href="#"> get expert help</a>
                    to grow your impact.
                  </div><br><br>
                  <button type="button" class="btn btn-light1">Share your Gigs</button><br>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="firstInsideIcon">
                    <img src="{% static 'images/inside2.png' %}" alt="">
                    <strong>Get more skills & exposure</strong>
                  </div><br>
                  <div class="description">
                    Tap into the power of social media by <b> sharing your Gig,</b> and <a href="#"> get expert help</a>
                    to grow your impact.
                  </div><br><br>
                  <button type="button" class="btn btn-light2">Explore Learn</button><br>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="firstInsideIcon">
                    <img src="{% static 'images/inside3.png' %}" alt="">
                    <strong>Become a successful seller</strong>
                  </div><br>
                  <div class="description">
                    Tap into the power of social media by <b> sharing your Gig,</b> and <a href="#"> get expert help</a>
                    to grow your impact.
                  </div><br><br>
                  <button type="button" class="btn btn-light3">Watch Free Course</button><br>

                </div>
              </div>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </section>

  <!-- slider part -->


  <div class="container">
    <div id="slider_row" class="row slider-row">
      <div class="col top-slider">
        <div class="main-top-slider">
          <img src="{% static 'images/bannerdash1.jpg' %}" alt="">
          <h2 class="text-white">This is the slider title you can add any title here </h2>
          <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>


        <div class="main-top-slider">
          <img src="{% static 'images/bannerdash1.jpg' %}" alt="">
          <h2 class="text-white">This is the slider title you can add any title here</h2>
          <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>


        <div class="main-top-slider">
          <img src="{% static 'images/bannerdash1.jpg' %}" alt="">
          <h2 class="text-white">This is the slider title you can add any title here</h2>
          <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

  <script src="{% static 'js/sellerdashboard.js' %}"></script>
{% endblock %}