{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- google font -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">

    <title>About Us</title>
  </head>
  <body>
    <!-- about us banner -->

    <div class="about-us-banner">
        <img src="{% static 'images/bannerdash1.jpg' %}" alt="">
        <div class="about__overlay">
            <p class="text-center text-white">About Us</p>
        </div>
    </div>

    <!-- about us details -->

    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-2"></div>

          <div class="col-lg-8 about__details">
             <h1 class="text-center fw-bold">Marketage - About Us</h1>
             <p class="text-center text-muted">Find The Desired Job, And Meet The Right Talent!</p>
             <h4 class="fw-bold">Welcome to Marketage</h4>
             <p class="text-muted">Marketage has created to provide a highly secure and user-friendly platform where users across the globe their unique skills and talents and savvy buyers can pick the right talent without compromising on quality. You can choose from a wide range of services available, from $5 to up to $5,000 or more, as the option to create a custom order with a bespoke price. You can hire PRO sellers who offer all their services at an exclusive price. </p>
             <p class="text-muted">At Marketage, we always strive to be as fair as possible to all of our valued users, and with that, we want everyone that happens to stumble across this superb platform to have a good reason to smile. </p>
             <h4 class="fw-bold">What We Do</h4>
             <p class="text-muted">Marketage is the #1 solution for finding and hiring pre-vetted and hand-picked freelancers online. This platform provides you an opportunity to hire hand-picked talent for the jobs that get done on time. Business owners always look to hire reliable and talented remote freelancers to easily submit a simple request and connect to successful freelancers, usually in 24 hours or less. </p>
             <p class="text-muted">With hundreds of freelancers and hundreds of buyers, this platform is continuously growing as a trusted, reliable, and user-friendly freelancing website where you can find the right job. It can have the right type of talent. </p>
             <h4 class="fw-bold">Our Inspiration </h4>
             <p class="text-muted">Remote working has never been that much easier. We have made the hiring and finding job problem easy. Now businesses and freelancers can meet over this place and grow business. The demand for online freelancers keeps on growing, and we all are aware of the strong and effective impact that they could make on the business’ growth. We don’t want you to get frustrated with making bad or unreliable hires, freelancers disappearing, and long and long interview processes. Everything works here symmetrically and professionally. </p>
             <p class="text-muted">We built marketage to make hiring freelancers super easy and enjoyable for businesses. </p>
             <p class="text-muted">If you are an enthusiastic freelancer, you can fearlessly join this platform to showcase your skills and get paid. </p>
             <h4 class="fw-bold">Mission Statement</h4>
             <p class="text-muted">We are here to solve the giant problem of online reliable hiring for hundreds of freelancers and businesses that exist globally. </p>
             <p class="text-muted">We are focusing on making their job of finding long-term and reliable work much easier for our talented freelancers. </p>
             <p class="text-muted">For our valued clients, we aim to offer fast and dependable remote hiring. </p>
             <p class="text-muted">In simple words, bring both these crucial groups together is at the front spot of our mission. 
            </p>
            <h4 class="fw-bold">Why Marketage?</h4>
            <p class="text-muted">There are multiple reasons for this platform; here are the top reasons to choose us.<p>
              <h4 class="fw-bold">
                <li>Uncomplicated, Just like you!</li>
              </h4>
                <p class="text-muted">It’s super-simple if there’s a service you would like to offer, then Marketage is the right platform to buy and sell it.</p>
                <h4 class="fw-bold">
                  <li>
                    Fair
                  </li>
                </h4>
                <p class="text-muted">There are no ifs and buts; Fivvour gives each one and everyone the same opportunity to earn extra cash on the platform in business and growth.</p>
                <h4 class="fw-bold">
                  <li>Approachable</li>
                </h4>
                <p class="text-muted">We are friendly and approachable. The kettle’s always on no matter what, well, virtually at least!</p>
                <h4 class="fw-bold"><li>Include</li></h4>
                <p class="text-muted">We are friendly and approachable. The kettle’s always on no matter what, well, virtually at least!</p>
          </div>

          <div class="col-lg-2"></div>
        </div>
    </div>
  </br>

  {% include 'buyingview/buying_footer.html' %}

  </body>
</html>