{% load static %}
<!-- Sidebar -->
<div class="bg-white" id="sidebar-wrapper">
  <div>
    <div
      class="
        sidebar-heading
        text-center
        py-4
        primary-text
        fs-4
        fw-bold
        text-uppercase
        border-bottom
        admin__panel__img
      "
    >
      <a href="#"><img src="{% static 'images/marketage.png' %}" alt="" /></a>
    </div>
    <div class="list-group list-group-flush my-3">
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          second-text
          active
        "
        ><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a
      >
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          second-text
          fw-bold
        "
        ><i class="fas fa-upload me-2"></i>Uploaded Offer</a
      >
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          second-text
          fw-bold
        "
        ><i class="far fa-user me-2"></i>All Users</a
      >
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          second-text
          fw-bold
        "
        ><i class="fas fa-briefcase me-2"></i>All Orders</a
      >
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          second-text
          fw-bold
        "
        ><i class="far fa-bell me-2"></i>Notifications</a
      >
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          bg-transparent
          text-danger
          fw-bold
        "
        ><i class="fas fa-power-off me-2"></i>Logout</a
      >
    </div>
  </div>
</div>
<!-- /#sidebar-wrapper -->

<!-- Navbar start -->
