{% extends "wasekPart/base.html" %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/buyer-dashboard.css' %}">

<!-- Order table section starts -->
<div class="table-responsive manage__orderTable container mt-5 mb-5">
  <!-- Active table section starts -->
  <table
    class="table table-hover bg-white activated__table show__activeTable"
  >
    <thead>
      <tr class="align-middle">
        <th scope="" colspan="2" class="text-muted ps-3 col-2">SELLER NAME</th>
        <th scope="" class="text-muted col-5">PACKAGE</th>
        <th scope="" class="text-muted col-2 text-center">TOTAL</th>
        <th scope="" class="text-muted text-center col-2">status</th>
        <th scope="" class="text-muted text-center col-2"></th>
      </tr>
    </thead>

    <tbody>
    
     {% for order in orders %}
     <tr>
        <td scope="" colspan="2" class="ps-3">{{ order.seller }}</td>
        <td scope="" class=" for-width">{{ order.package }}</td>
        <td scope="" class="text-center">${{ order.total }}</td>
        <td scope="" class="status text-center align-middle">
            <p>DELIVERED</p>
        </td>
        <td scope="" class="text-muted text-center view align-middle">
            <a href="{% url 'buyer-orders' order.id %}">
              <p>VIEW</p>
            </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>

</div>
<!-- Order table section ends -->



{% endblock %}