:root {
    --main-bg-color: #bbe7f2;
    --main-text-color: #437e8c;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--main-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: visible !important;
    background-color: var(--main-bg-color);
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  




/* azim new edit */
.admin__panel__img img{
    width: 145px;
    height: 42px;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}
.new__admin__middle a{
  color: #000 !important;
}
.new__admin__middle a:hover{
  color: #3bd177 !important;
}
#sidebar-wrapper > div {
  position: sticky !important;
  top: 0;
  left: 0;
  min-height: 100vh;
}
.main__search__bar{
  position: relative;
}
.main__search__bar input{
  height: 4vh;
}
.search__bar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.drop__search__container__button{
  display: flex;
}
.main__search__bar{
  flex:1;
  margin-top: 18px;
}
.main__search__bar input[type="search"]::placeholder{
  letter-spacing: .2rem;
}
.main__search__bar, .drop__search__1, .drop__search__2{
  padding: 10px;
}
.drop__button1, .drop__button2{
  outline: none;
  border: none;
  padding: 7px 12px;
  border-radius: 4px;
  background-color: #fff;
  color: #000 !important;
}



  @media (min-width: 768px) {
    #wrapper {
      overflow-x: hidden;
    }
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
    
  }
  @media (max-width:600px){
    .main__search__bar input[type="search"]::placeholder{
      letter-spacing: normal;
    }
  }