*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none !important;
}
body{
    width: 100%;
}
.footer{
    background-color: #131f35;
}
.two-colum{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #000;
}
.first_column{
    padding: 30px;
}
.first_column a{
    color: #fff;
}
.first_column h3{
    color: #fff;
}
.first_column p{
    color: #fff;
}
.first_column input{
    width: 250px;
    height: 5vh;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width .4s ease-in-out;
    position: relative;
    border: none;
    outline: none;
}
.first_column input:focus{
    width: 100%;
    outline: none;
}
.first_column img{
    width: 200px;
    height: 60px;
}
.first_column P, .colum-input, .colum-img{
    padding: 8PX;
}

.fb-icon{
    font-size: 20px;
}
.first_column p i{
    color: #e645c3 !important;
}
.fb-with-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-textfb:hover{
    font-size: 15px;
    color: #1176fa;
    transition: .2s all ease;
}
.social-textin:hover{
    font-size: 15px;
    color: #e645c3;
    transition: .2s all ease;
}
.social-texttw:hover{
    font-size: 15px;
    color: #1176fa;
    transition: .2s all ease;
}
.social-textln:hover{
    font-size: 15px;
    color:#1176fa;
    transition: .2s all ease;
}

.footer-bottom span{
    color: #a62b2b;
}
.footer-bottom p{
    color: #fff;
}
.paypal-icon{
    font-size: 30px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer-bottom p{
    padding: 5px;
}
.payment-img img{
    width: 100%;
    height: 7vh;
}

@media (max-width: 1360px){
    .main-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
}
    .two-colum{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
    }
    .first_column{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 541px){
    .main-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .two-colum{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
    }
    .first_column{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
     
}