.chat__inbox {
  display: grid;
  grid-template-columns: 30% 45% 25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 0.3rem;
}

/* Left side section starts */

/* Left side section starts */

/* All conversations button dropdown section starts */
.go__back {
  display: none;
}

.left__topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.left__topSection button {
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  color: #333;
}

.left__topSection button:focus {
  border: none;
  outline: none;
}

.user__Alloptions::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-color: #dadbdd;
  border-style: solid;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -6.9px;
  left: 10%;
  background-color: #fff;
}

.user__Alloptions li {
  font-size: 0.9rem;
}

/* .user__Alloptions li a {
    border: none !important
} */

.user__Alloptions .dropdown-divider {
  margin-left: 1rem;
  margin-right: 1rem;
}

.user__Alloptions li a {
  font-weight: 500;
  background-color: transparent !important;
}

.user__Alloptions li:hover a {
  color: #198754;
}
/* All conversations button dropdown section ends */

/* Left side search icon section starts */

.left__searchBar .searchbar > .iconify {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

/* Left side search icon section ends */

/* Search box section starts */
.seach__boxInput {
  display: none;
  min-width: 100%;
}

.close__searchBar .iconify {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: red;
  cursor: pointer;
}
/* Search box section ends */

/* Left side top section ends */

/* Left main content section starts */
.user__chatGroup ul {
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.user__chatGroup .list-group {
  border-radius: 0 !important;
}

.user__chatGroup ul::-webkit-scrollbar {
  width: 6px;
}

.user__chatGroup ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 9999px;
  outline: none;
}

.user__chatInfo {
  display: flex;
  justify-content: space-between;
}

.left__userChat {
  display: flex;
}

.user__chatImg .star__icon {
  display: none;
}

.user__chatImg {
  position: relative;
}

.user__chatImg img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.not__online {
  position: absolute;
  bottom: 0;
  right: 6px;
}

.left__userChat .user__onlineDot {
  position: absolute;
  bottom: 0;
  right: 6px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #198754;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user__username p {
  margin-block-end: 0 !important;
  font-size: 0.9rem;
}

.msg__timestamp small {
  font-size: 0.8rem;
}

.user__chooseIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.make__fav,
.mark__asUnread {
  cursor: pointer;
}

.user__chatGroup .list-group-item:first-child {
  border-top: none !important;
}
/* Left main content section ends */

/* Left side section ends */


/* All main content section starts  */
.user__chatGroup {
    border-top: 1px solid rgb(209, 199, 199);
    margin-top: 1.45rem;
}
/* All main content section ends  */

/* Middle side section starts */

/* Middle side top section starts */
.middle__topSection {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(209, 199, 199);
}

.middle__topSection > .iconify {
  font-size: 1.2rem;
}

.user__lastSeen small {
  font-size: 0.9rem;
}
/* Middle side top section ends */

/* Middle side main content section starts */
.middle__mainContent {
  position: relative;
  height: 60vh;
  padding-left: 0.5rem;
  border-right: 1px solid rgb(209, 199, 199);
}

/* User typing message section starts */
.user__typeMsg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fff;
}

.user__typeMsg input {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
}

.typing__icons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typing__icons > div {
  display: flex;
  align-items: center;
}

.typing__icons .iconify {
  font-size: 1.7rem;
  cursor: pointer;
}

.send__icon > .iconify {
  color: #619CEC;
}

/* User typing message section ends */

.middle__mainContent .user__allChats {
  height: 45vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.middle__mainContent .user__allChats::-webkit-scrollbar {
  width: 6px;
}

.middle__mainContent .user__allChats::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 9999px;
  outline: none;
}

.opposite__user,
.user__me {
  display: flex;
  align-items: center;
}

.opposite__user:hover,
.user__me:hover {
  background-color: #fafafa;
}

.opposite__userImg img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat__timestamp > span,
.chat__timestamp > small {
  padding-left: 0.3rem;
  font-size: 0.9rem;
}

.chat__msg {
  margin-top: 1rem;
}

.chat__msg > p {
  font-size: 0.9rem;
  color: #777;
  margin-left: 0.3rem;
}
/* Middle side main content section ends */

/* Middle side side section ends */

/* Right side section starts */

/* Right side top section starts */
.right__topDots {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

.right__topDots > .iconify {
  font-size: 2rem;
  cursor: pointer;
}

.right__alternateOptions {
    display: none;
}

.right__alternateOptions ul {
    display: flex;
}

.right__alternateOptions ul li {
    margin-right: 0.3rem;
}

.right__alternateOptions ul li:last-child {
    margin-right: 0;
}

.right__alternateOptions ul li .iconify {
    font-size: 1.2rem;
    cursor: pointer;
}

.close__alternateOption {
    padding-right: 0.5rem;
}

.close__alternateOption .iconify {
    color: red;
}
/* Right side top section ends */

/* Right side main content section starts */
.right__mainContent {
    border-top: 1px solid rgb(209, 199, 199);
    margin-top: 1.5rem;
}

.right__mainContent > div {
    padding-left: 0.5rem;
}

.right__userImg img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.right__userImg > p {
    margin-block-end: 0;
}

.right__userImg .new__seller {
    margin-block-end: 0;
    font-size: 0.9rem;
}

.user__profileDetail div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}

.user__profileDetail div p {
    font-size: 0.9rem;
    word-break: break-all;
}
/* Right side main content section ends */

/* Right side section ends */


/* Responsive section */
@media (max-width: 991px) {
  .chat__inbox {
    grid-template-columns: 100%;
  }

  .left__searchBar,
  .close__searchBar {
    padding-right: 0.5rem;
  }

  .go__back {
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .user__chatImg .star__icon {
    display: inline-block;
    font-size: 2rem;
    padding-right: 0.5rem;
  }
  
  .user__chooseIcons,
  .middle__side,
  .right__side {
    display: none;
  }
}

/* For the user typing message box */
@media (min-width: 2000px) {
  .user__typeMsg {
    bottom: 18%;
  }
}

@media (min-width: 1401px) {
  .user__typeMsg {
    bottom: 16%;
  }
}

@media (min-width: 1201px) {
  .user__typeMsg {
    bottom: 13%;
  }
}

@media (min-width: 900px) {
  .user__typeMsg {
    bottom: 10%;
  }
}

@media (min-width: 750px) {
  .user__typeMsg {
    bottom: 5%;
  }
}

