
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body{
    background-color: #f5f5f5;
}
.gig-title, .seo-title, .category, .service-type, .gig-metadata, .search-tag {
    width: 100%;
    display: flex;
}
.gig-title p, .seo-title p, .category-title p, .service-title p{
    width: 20%;
    font-weight: 500;
    font-size: 18px;
}
.gig-title textarea, .seo-title textarea{
    width: 80%;
    height: 100px;
    outline: none;
    padding: 10px;
    font-size: 30px;
    font-size: 18px;
    border: 2px solid rgba(0,0,0,0.2);
    transition: all .2s ease;
}
.gig-title textarea:focus{
    box-shadow: 0rem .1rem .5rem #5999ff;
}
.seo-title textarea:focus{
    
    box-shadow: 0rem .1rem .5rem #5999ff;
}
.select-input{
    padding: 10px;
}
.category-title{
    width: 20%;
}
.select-area{
    width: 80%;
    justify-content: space-between;
    display: flex;
}
.select-option{
    width: 80%;
}
.for-size{
    padding: 10px;
    width: 100%;
    outline: none;
}

.service-title{
    width: 20%;
}
.left-title p{
    width: 20%;
}
.meta-data-box{
    width: 100%;
    display: flex; 
}
.select-for-radio{
    display: flex;
    align-items: center;
}
.for-radio{
    margin-right: 5px;
}
.left-title{
    width: 20%;
}
.expertise, .pro-lan{
    padding: 15px;
    margin-bottom: 0px !important;
}


.hover-function, .inner-priceandscope{
    background-color: #fff;
    border: 1px solid #cfcfcf;
    padding: 20px;
}
.pro-lan{
    background-color: #E2E0E0;
}


.first-div-for-click{
    width: 30%;
    background-color: rgb(226, 224, 224);
}


.second-div-for-click-next, .second-div-for-click{
    display: none;
    width: 80%;
    border: 1px solid rgb(207, 205, 205);
    padding: 15px;
}
.second-div-for-click{
    display: block;
}

.search-tag{
    width: 100%;
}

.multi-tag{
    width: 80%;
}
.input{
  width: 100%;
}
.point{
    margin-top: 5px;
}
.point span{
    color: rgb(255, 102, 0);
    font-weight: 500;
}
.inner-defining-gig{
    background-color: rgb(204, 212, 236);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}
.inner-defining-gig::after{
    content: " ";
    position: absolute;
    width: 5%;
    height: 5%;
    top: 10%;
    left: -6%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid rgb(204, 212, 236); 
}
.inner-defining-gig a{
    color: rgb(95, 95, 252);
    text-decoration: none;
}
.fa-play-circle{
    font-size: 20px;
}
.inner-defining-gig ul li{
    margin-bottom: 10px;
    text-align: justify;
}
.icon{
    text-align: center;
    margin-bottom: 20px;
}
.light{
    background-color: salmon;
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 25px;
}


/* for hover */


/* gig-title */
.discribe-gig{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    display: none;
}

.discribe-gig::after{
    position: absolute;
    content: " ";
    height: 10%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(204, 212, 236);
    left: -5%;
    top: 20%;
}

/* seo title */
.seo-title-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 20%;
    display: none;
}
.seo-title-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(204, 212, 236);
    left: -5%;
    top: 10%;
}
/* category-title */
.category-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 40%;
    display: none;
}
.category-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(204, 212, 236);
    left: -5%;
    top: 20%;
}
/* service-typr */
.service-type-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    display: none;
}
.service-type-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(204, 212, 236);
    left: -5%;
    top: 20%;
}
/* search tag */
.search-tag-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 13%;
    display: none;
}
.search-tag-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgb(204, 212, 236);
    left: -5%;
    top: 70%;
}


/* ===============================================
                scope and priceing
=============================================== */
.package-table{
    padding: 65px;
}
.inner-title h3{
    font-size: 40px;
    font-weight: 400;
}
.info-box{
    width: 100%;
    margin-top: 40px;
}
.info-box p{
    text-align: center;
    border: 2px solid rgb(2, 102, 2);
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    box-shadow: -1px 6px 49px -15px rgba(54, 241, 7, 0.61);
    font-size: 18px;
    font-weight: 500;
}
.info-box i{
    color: rgb(1, 133, 1);
}
.table-for-row td select{
    width: 100%;
    outline: none;
    padding: 15px;
    border: none;
    font-size: 15px;
}
.for-padding{
    padding: 10px;
}

/* ======================================
            description
====================================== */

.inner-des, .inner-gallery{
    background-color: #fff;
    border: 1px solid #cfcfcf;
    padding: 20px;
}
.right-div-for-description{
    background-color: #CCD4EC;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.right-div-for-description::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 10%;
}

.description-hover-div{
    background-color: #CCD4EC;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    display: none;
    top: 10%;
}
.description-hover-div::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 50%;
}

.cke_button__about_icon, .cke_button__link_icon {
    display: none !important;
}

/* for gallery section */
.gallery-info{
    width: 80%;
    margin: 0 auto;
    display: flex;
    border: 2px solid rgb(2, 102, 2);
    margin-top: 40px;
}
.gallery-info i{
    padding: 10px 3px 0px 5px;
    color: rgb(2, 102, 2);
    font-size: 20px;
}
.gallery-info p{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}

/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}

.filepond--credits{
    display: none;
}


/* button */

.for-button{
    display: flex;
    justify-content: space-between;
    padding: 0px !important;
    margin: 30px 0px 50px 0px;
}
.button-cancle{
    border: 1px solid rgb(194, 193, 193);
    background-color: #f0e7e7;
    padding: 10px 45px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    transition: all .3s all;
}
.button-cancle:hover{
    color: #33b97b;
}
.button-save{
    border: 1px solid rgb(194, 193, 193);
    background-color: #33b97b;
    color: #fff;
    padding: 10px 45px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    transition: all .3s all;
}
.button-save:hover{
    background-color: #37da8e;
}
.showcase-talent{
    background-color: #CCD4EC;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.showcase-talent::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 20%;
}
.showcase-talent a{
    text-decoration: none;
}
.inner-img-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    display: none;
}
.inner-img-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 73%;
}
.for-video-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    display: none;
    top: 47%;
}
.for-video-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 40%;
}

.inner-doc-hover{
    background-color: rgb(204, 212, 236);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 680px;
}
.inner-doc-hover::after{
    position: absolute;
    content: " ";
    height: 5%;
    width: 5%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #CCD4EC;
    left: -5%;
    top: 55%;
}
.input-for-details{
    width: 100%;
    height: 100px !important;
    border: none;
    outline: none;
    padding: 5px;
}
.input-padding{
    padding: 0px !important;
}
.for-price input{
    border: none;
    outline: none;
    width: 95%;
}
.input-for-price{
    border: none;
    text-align: right;
}



/*======================================
             for multi select tags start 
======================================== */

.chosen-select {
    width: 100%;
  }
  .chosen-select-deselect {
    width: 100%;
  }
  .chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
  }
  .chosen-container .chosen-drop {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
  }
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0;
  }
  .chosen-container .chosen-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .chosen-container .chosen-results li {
    display: none;
    line-height: 1.42857143;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
  }
  .chosen-container .chosen-results li em {
    background: #feffde;
    font-style: normal;
  }
  .chosen-container .chosen-results li.group-result {
    display: list-item;
    cursor: default;
    color: #999;
    font-weight: bold;
  }
  .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
  }
  .chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
  }
  .chosen-container .chosen-results li.highlighted {
    background-color: #428bca;
    background-image: none;
    color: white;
  }
  .chosen-container .chosen-results li.highlighted em {
    background: transparent;
  }
  .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #777777;
  }
  .chosen-container .chosen-results .no-results {
    background: #eeeeee;
    display: list-item;
  }
  .chosen-container .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;
  }
  .chosen-container .chosen-results-scroll span {
    display: inline-block;
    height: 1.42857143;
    text-indent: -5000px;
    width: 9px;
  }
  .chosen-container .chosen-results-scroll-down {
    bottom: 0;
  }
  .chosen-container .chosen-results-scroll-down span {
    background: url("/static/images/cross.jpeg") no-repeat -4px -3px;
  }
  .chosen-container .chosen-results-scroll-up span {
    background: url("/static/images/cross.jpeg") no-repeat -22px -3px;
  }
  .chosen-container-single .chosen-single {
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555555;
    display: block;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
  .chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chosen-container-single .chosen-single abbr {
    background: url("/static/images/cross.jpeg") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 12px;
    width: 12px;
  }
  .chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px;
  }
  .chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px;
  }
  .chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
  }
  .chosen-container-single .chosen-single div b {
    background: url("/static/images/cross.jpeg") no-repeat 0 7px;
    display: block;
    height: 100%;
    width: 100%;
  }
  .chosen-container-single .chosen-default {
    color: #777777;
  }
  .chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
  }
  .chosen-container-single .chosen-search input[type="text"] {
    background: url("/static/images/cross.jpeg")no-repeat 100% -20px, #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
  }
  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .chosen-container-single-nosearch .chosen-search input {
    position: absolute;
    left: -9000px;
  }
  .chosen-container-multi .chosen-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
  }
  .chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 32px;
    margin: 0;
    padding: 4px;
    outline: 0;
  }
  .chosen-container-multi .chosen-choices .search-field .default {
    color: #999;
  }
  .chosen-container-multi .chosen-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 6px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
  }
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: url("/static/images/cross.jpeg") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 9px;
    cursor: pointer;
    background-size: cover;
  }
 
  .chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4;
  }
  .chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
  }
  .chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
  }
  .chosen-container-multi .chosen-drop .result-selected {
    display: none;
  }
  .chosen-container-active .chosen-single {
    border: 1px solid #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
  }
  .chosen-container-active.chosen-with-drop .chosen-single {
    background-color: #ffffff;
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent;
    border-left: none;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
  }
  .chosen-container-active .chosen-choices {
    border: 1px solid #66afe9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
  }
  .chosen-container-active .chosen-choices .search-field input[type="text"] {
    color: #111 !important;
  }
  .chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
  .chosen-disabled .chosen-single {
    cursor: default;
  }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
  .chosen-rtl {
    text-align: right;
  }
  .chosen-rtl .chosen-single {
    padding: 0 8px 0 0;
    overflow: visible;
  }
  .chosen-rtl .chosen-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl;
  }
  .chosen-rtl .chosen-single div {
    left: 7px;
    right: auto;
  }
  .chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
  }
  .chosen-rtl .chosen-choices .search-field input[type="text"] {
    direction: rtl;
  }
  .chosen-rtl .chosen-choices li {
    float: right;
  }
  .chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px;
  }
  .chosen-rtl .chosen-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto;
  }
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  .chosen-rtl .chosen-results .group-option {
    padding-left: 0;
    padding-right: 15px;
  }
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  .chosen-rtl .chosen-search input[type="text"] {
    background: url("chosen-sprite.png") no-repeat -28px -20px, #ffffff;
    direction: rtl;
    padding: 4px 5px 4px 20px;
  }
  .chosen-container{
      width: 100% !important;
  }


/*======================================
             for multi select tags end 
======================================== */





/*======================================
             for image upload
======================================== */

.for-file-upload{
  width: 100%;
  text-align: center;
  background-color: #EDF0F4 ;
  border-radius: 8px;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.for-file-upload i{
  font-size: 25px;
  padding: 10px 0px;
}




@media screen and (max-width: 991px) {
    .right-div, .for-hiding{
        display: none;
    }
    .for-price input{
        border: none;
        outline: none;
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
    .for-button{
        justify-content: space-around;
    }
}
@media screen and (max-width: 520px) {
    .package-table {
        padding: 0px !important;
    }
    .hover-function, .inner-priceandscope {
        padding: 00px;
    }
}
