*{box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none !important;
}
body{
    width: 100%;
    background-color: #f5f5f5;
}

.include__service {
    font-size: 0.9rem;
    font-weight: normal !important;
}

/* wasek header */
.nav__header{
    position: static !important;
}

/* earned section */
.earned__section{
    background-color: #00b5d1;
}
.total__earned{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.check__name1 p, .check__name2 p{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 10px;
}
.total__earned{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.check__name1, .check__name2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.check__name1_p{
    display: flex;
    flex-direction: column;

}
.check__name2_p{
    display: flex;
    flex-direction: column;
}
.order__completed{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order__com{
    padding: 10px;
}
.order__completed p{
    padding-left: 10px;
    font-size: 25px;
}
.earned__icon{
    font-size: 42px;
}
.main__content__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.order____details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.order____details p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.star, .second__star{
    color: #1dde7d;
}
.order__info{
    font-size: 25px;
}
.main__content{
    width: 50%;
    background-color: #fff;
    padding: 48px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.erned____amount{
    font-size: 25px;
}

/* order table */
.order___table{
    width: 100%;
    padding: 10px;
}


/* order announcment */
.first__announcment p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.first__announcment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note__icon{
    font-size: 56px;
}

/* personal info */
.personal__info img{
    width: 52px;
    height: 52px;
}
.personal__info{
    display: flex;
}
.personal__info__details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 15px;
}
.personal__info__details p{
    margin-block-start: 0;
    margin-block-end: 0;
}

/* main icon */
.main__icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

/* main chat content */
.all__chat{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.main__all__chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__chat__content img{
    width: 50px;
    height: 50px;
}
.chat__content{
    padding-left: 15px;
}
.chat__all__button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #fff;
}
.chat__content p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.chat__para{
    word-break: break-all;
}

.input__form img{
    width: 50px;
    height: 50px;
}
.input__form{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 22px;
}
.main__input__form{
    padding-left: 15px;
}
.new__comment{
    width: 100%;
}
/* last share button */
.last__share__button{
    display: flex;
    justify-content: flex-end;
}
.last__button{
    border: none;
    outline: none;
    padding: 10px;
}
.rabbith___arko img{
    width: 50px;
    height: 50px;
}
.rabbith___arko{
    display: flex;
    padding: 10px;
    margin-top: 22px;
}
.rabboth_arko_detail p{
    margin-block-end: 0;
    margin-block-start: 0;
    word-break: break-all;
}
.rabboth_arko_detail{
    padding-left: 15px;
}

/* order completion */
.order__com{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bef4fa;
    margin-top: 22px;
}
.order__com p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #13c0d4;
}
.hand__para{
    color: #13c0d4;
}
.hand__sign__text{
    padding: 12px;
    margin-top: 22px;
}
.hand__sign__text p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.hand__sign__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* second main card */
.add__note a{
    color: #1dde7d;
    text-decoration: none;
    font-size: 20px;
}
.private__note{
    background-color: #fff;
    padding: 22px;
    border-top: 4px solid #1dde7d;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main__second__card{
    margin-left: 30px;
}
.conduct__button{
    border: none;
    outline: none;
    background-color: #1dde7d;
    padding: 7px 12px;
    border-radius: 5px;
    transition: .2s all ease-in-out;
}
.conduct__button:hover{
    background-color: #198754;
}
.need__conect__card a{
    color: #1dde7d;
}
.need__conect__card p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.need__conect__card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 25px;
    padding: 28px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.need__conect__card p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}


@media (max-width: 900px){
    .main__content{
        width: 100%;
    }
    .main__second__card{
        width: 100%;
        margin-left: 0;
    }
    .private__note{
        margin-top: 30px;
    }
}