*{box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #fafafa;
}

/* main background image */
.main-background-image{
    position: relative;
}
.img-overlay h1, .img-overlay p{
    text-shadow: 4px 2px 2px rgba(206,184,198,0.75);
}
.img-overlay p{
    font-size: 21px !important;
}
.img-overlay{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    top: 15%;
    left: 38%;
}
.main-background-image img{
    width: 100%;
    height: 320px;
}
/* join marketage button */
.join-marketage{
    border: none;
    background-color: #1dbf73;
    padding: 15px;
    border-radius: 6px;
}
.join-marketage:hover{
    background-color: #3fca89;
    transition: .2s all ease;
}


/* card body secion */
.body-lorem{
    position: absolute;
    top: 89%;
    display: block;
    margin: auto;
}
.seller-is-easy p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.seller-is-easy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seller-is-easy img{
    width: 100%;
    height: 408px;
    margin-top: 30px;
}
.seller-buyer-rating{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.seller-rating, .buyer-feedback{
    padding: 15px;
}

/* seller levels */
.seller-level{
    position: relative;
}
.seller-level-overlay{
    position: absolute;
    top: 17%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.seller-level-overlay a{
    color: #fff;
}

/* 
images bedge */
.level-badge ul{
    position: absolute;
    top: 77%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.level-badge ul li{
    padding: 3px;
}
.top-img img{
    width: 100px;
    height: 100px;
}
.level-img img{
    width: 53px;
    height: 53px;
}

/* buy and sell section */
.buy-sell{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

/* personal-secure-safe */
.colums img{
    width: 110px;
    height: 100px;
}
.personal-safe-secure{
    display: flex;
    margin-top: 40px;
}
.colums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


/* help line 24/7 */
.help-line{
    position: relative;
    margin-top: -10px;
    background-color: #353537;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-line p{
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 20px;
}
.help-line-image img{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -35%;
}

/* footer */
.footer{
    background-color: #272727;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 20px;
}
.topFooter a{
    text-decoration: none;
    color: #fff;
}
.active{
    color: #717171;
}
.topFooter a p:hover{
    color:#7a85eb;
}
.topFooter a i:hover{
    color:#f266e7;
}
.topFooter a p{
    font-size: 13px;
}









/* main background image media  */

@media (max-width:955px){
    .img-overlay{
        top: 16%;
        left: 35%;
    }
}
@media (max-width:805px){
    .img-overlay{
        top: 16%;
        left: 26%;
    }
}
@media (max-width:670px){
    .img-overlay{
        top: 16%;
        left: 21%;
    }
    .personal-safe-secure{
        flex-wrap: wrap;
    }
}
@media (max-width:575px){
    .img-overlay{
        top: 16%;
        left: 15%;
    }
}
@media (max-width:496px){
    .img-overlay{
        top: 16%;
        left: 14%;
    }
    .img-overlay p{
        font-size: 17px !important;
    }
}
@media (max-width:410px){
    .img-overlay{
        top: 16%;
        left: 12%;
    }
    .img-overlay p{
        font-size: 17px !important;
    }
}
@media (max-width:385px){
    .img-overlay{
        top: 16%;
        left: 12%;
    }
    .img-overlay p{
        font-size: 15px !important;
    }
}
@media (max-width:340px){
    .img-overlay{
        top: 16%;
        left: 10%;
    }
    .img-overlay p{
        font-size: 15px !important;
    }
}
@media (max-width:295px){
    .img-overlay{
        top: 16%;
        left: 7%;
    }
    .img-overlay p{
        font-size: 15px !important;
    }
}

/* badge level images */
@media (max-width: 320px){
    .top-img img{
        width: 80px;
        height: 80px;
    }
    .level-img img{
        width: 48px;
        height: 48px;
    }
    .level-badge ul {
        position: absolute;
        top: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 290px){
    .top-img img{
        width: 70px;
        height: 70px;
    }
    .level-img img{
        width: 40px;
        height: 40px;
    }
    .level-badge ul {
        position: absolute;
        top: 81%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 670px){
    .help-line-image img{
        display: none;
    }
}